:host ::ng-deep  .p-frozen-column {
    font-weight: bold;
}
:host ::ng-deep .p-datatable-frozen-tbody {
    font-weight: bold;
}

:host ::ng-deep .row-sold {
  background-color: #f8d7da;
  color: #721c24;
}